span{
	font-family: 'Gotham Pro Bold';
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}

button{
	background: none;
	border: none;
	outline: none;
	font-size: 20px;
}

.container-top{
	background-color: #fff;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 15px rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
}
