<div *ngIf="loadPage">
	<app-cards-top [id]="id"></app-cards-top>
	<div
			class="cards-slick"
	>
		<app-card
				*ngFor="let item of cards;"
				[card]="item"
				[stepResult]="stepResult"
				(favorite)="setFavorite($event)"
				(imageDescription)="setImageDescription($event)"
		></app-card>
	</div>

	<div class="cards-list">
		<app-card-list
				*ngFor="let item of cards;"
				[card]="item"
				(cardId)="moveToCardId($event)"
		></app-card-list>
	</div>
	<app-card-progress-bar [progress]="progress"></app-card-progress-bar>
</div>
<div
		class="layout"
		(click)="closeLayout()"
></div>

<div class="shared">
	<a
			class="shared-link"
			(click)="addFavorite()"

	>{{textForFavoriteBtn}}</a>

	<a onclick="window.plugins.socialsharing.shareWithOptions({
			message: document.querySelector('.shared-card-name').textContent + document.querySelector('.shared-card-text').textContent,
			url: 'https://play.google.com/store/apps/details?id=pro.znau.known'
		});"
	   class="shared-link">Поделиться</a>

	<a
			(click)="closeLayout()"
			class="shared-link"
	>Отмена</a>
</div>
<span class="shared-card-name" [ngStyle]="{'display':'none'}">
	{{favorite.name}}
</span>
<span class="shared-card-text" [ngStyle]="{'display':'none'}">
	{{favorite.mainText}}
</span>
