body {
	background: #e5e5e5;
}

.cards-slick {
	position: relative;
	top: -1px;
	background: #e5e5e5;
}

app-card-list {
	display: inline-flex;
	width: 31%;
	padding-left: 10px;
}

app-card {
	height: 100vh;
}

app-card-list:nth-child(3n + 1) {
	padding-left: 0;
}

.layout {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .8);
}

.shared {
	display: none;
	position: fixed;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.shared-link {
	font-family: 'Open Sans Regular';
	display: block;
	margin: 20px auto 0;
	background: #fff;
	max-width: 300px;
	padding: 8px 0px;
	border-radius: 15px;
}

.cards-list {
	display: none;
	flex-wrap: wrap;
	justify-content: left;
	background-color: #e5e5e5;
	padding: 0 12px 35px;
	position: relative;
	top: 50px;
}