p {
	font-family: "Open Sans Regular";
	font-weight: 400;
	text-align: center;
	font-size: 6px;
	padding: 5px 10px 0;
}

.card-item {
	margin: 5px;
	border-radius: 5px;
	background-color: #fff;
	display: inline-flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 15px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.card-item img {
	display: block;
	max-width: 40%;
	margin: 0 auto;
}

.card-gold {
	background-color: #e8bc02;

}

.card-orange {
	background-color: #e87f23;
	color: #fff;
}

.card-orange a.card-more[_ngcontent-c3],
.card-blue a.card-more[_ngcontent-c3] {
	border-color: #fff;
	color: #fff;
}

.card-blue {
	background-color: #309be1;
	color: #fff;
}

.card-blue-border {
	border: 3px solid #309be1;
}

.card-red{
	background-color: #ea2c20;
	color:#fff;
}

.card-red-border{
	border: 3px solid #ea2c20;
}

.card-test{
	background-color: #2d60d5;
	color:#fff;
}

.card-green{
	background-color: #28b83f;
	color:#fff;
}

.card-green-border{
	border: 3px solid #28b83f;
}

.substrate {
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
	border-radius: 10px;
}

.card-item-img {
	height: 70px;
	background-size: cover;
	background-position: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
}

.card-item-title {
	font-family: 'Gotham Pro Bold';
	font-size: 8px;
	text-align: center;
	padding: 5px;
}

.title-line {
	height: 2px;
	background-color: #e8bc02;
	width: 15px;
	display: block;
	margin: 0 auto;
}

.title-line-test{
	background-color: #fff;
}

.title-line-red{
	background-color: #ea2c20;
}

.title-line-green{
	background-color: #28b83f;
}

.card-more-container {
	margin-top: auto;
	text-align: center;
}

a.card-more,
a.card-more:active,
a.card-more:hover {
	font-family: "Open Sans Regular";
	background: none;
	padding: 5px 0;
	width: 100%;
	font-size: 11px;
	border: 1px solid #000;
	border-radius: 20px;
	margin-bottom: 15px;
	outline: none;
	color: #000;
	text-decoration: inherit;
	display: inline-block;
}

.result{
	top: 100px;
	position: absolute;
	display: block;
	font-size: 110px;
	text-align: center;
	width: 100%;
	font-family: 'Intro';
	color: #242020;
	opacity: .1;
}

.p-color{
	padding-top: 0;
}
