<div
		[ngClass]="{
		'card-gold':card.cardType == 'Fact',
		'card-orange':card.cardType == 'InThisTime',
		'card-blue':card.cardType == 'Results',
		'card-blue-border':card.cardType == 'OtherResults',
		'card-red':card.cardType == 'War',
		'card-red-border':card.cardType == 'OtherWar',
		'card-test':card.cardType=='Test',
		'card-green':card.cardType == 'Reforms',
		'card-green-border':card.cardType == 'OtherReforms'
		}"

		(click)="onClick(card.id)"

		class="card-item">
	<div *ngIf="card.fullImagePath" class="card-item-img"
	     [ngStyle]="{'background-image':'url('+card.fullImagePath+')'}">
		<div class="substrate"></div>
	</div>
	<h1 class="card-item-title">{{card.name}}</h1>
	<span
			*ngIf="(card.cardType != 'InThisTime') && (card.cardType != 'Results') && (card.cardType != 'OtherResults') && (card.cardType != 'War') && (card.cardType != 'Reforms') && (card.cardType != 'Fact')"
			class="title-line" [ngClass]="{
			'title-line-red':card.cardType == 'OtherWar',
			'title-line-test':card.cardType=='Test',
			'title-line-green':card.cardType == 'OtherReforms'
			}"></span>

	<img *ngIf="card.cardType == 'Results'" src="assets/image/result.png" alt="">

	<img *ngIf="card.cardType == 'War'" src="assets/image/wars.png" alt="">

	<img *ngIf="card.cardType == 'Reforms'" src="assets/image/flat.png" alt="">

	<div *ngFor="let y of stepResult">
	<span *ngIf="card.id === y.index"
	      class="result">{{y.value}}</span>
	</div>
	<p
			[ngClass]="{
			'p-color':(card.cardType == 'InThisTime') || (card.cardType == 'OtherResults') || (card.cardType == 'War') || (card.cardType == 'Reforms') || (card.cardType == 'Fact')
			}"
			[innerHTML]="card.text"></p>
</div>

