<app-card-description-top [name]="name"></app-card-description-top>
<div class="container">
  <div class="item">
    <app-card-description-text
            *ngIf="text"
            [content]="text"
    ></app-card-description-text>
  </div>
</div>