span {
	font-family: 'Gotham Pro Bold';
	text-align: center;
	font-size: 18px;
	display: inline-block;
	width: calc(100% - 20px);
}

p {
	font-family: "Open Sans Regular";
	font-weight: 400;
	padding: 20px 0px;
}

button {
	background: none;
	border: none;
	outline: none;
	font-size: 20px;
}

ul {
	margin-left: 15px;
}

.container-top {
	background-color: #e8bc02;
	padding: 15px 15px;
	display: flex;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}

.container {
	position: relative;
	top: 40px;
	margin-bottom: 30px;
	padding: 30px 15px 0;
}


.help-link {
	height: 45px;
	align-items: center;
	display: flex;
	justify-content: center;
	background: #28b83f;
	color: #fff;
	font-size: 16px;
	width: 100%;
	margin: 30px auto 0;
	text-decoration: none;
	font-family: 'Gotham Pro Bold';
}

.help-link-width {
	width: 234px;
	border-radius: 15px;
	border: 1px solid;
}

.help-link-mt0 {
	margin-top: 0;
}

.help-link-mb15 {
	margin-bottom: 15px;
}

.help-link-white {
	background: #fff;
	color: #000000;
	border-top: 1px solid #000000;
}

.layout {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, .8);
}

.modal-message {
	display: none;
	opacity: 0;
	position: fixed;
	top: 30%;
	left: calc(50% - 125px);
	z-index: 2;
	background: #fff;
	width: 250px;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	font-family: 'Open Sans Regular';
	font-size: 20px;
}

.modal-message p {
	font-family: 'Gotham Pro Bold';
}
