<div class="container-top">
	<button
			(click)="onBack()"
	><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
	<span>Премиум доступ</span>
</div>
<div class="container">
	<p>Мы активно работаем над созданием новых тем и фактов, улучшаем тексты и добавляем новые. Цель &laquo;Знающего&raquo;
		- сделать сложные знания простыми и интересными в изучении.</p>
	<p>
		Каждый из вас может поддержать развитие проекта и сделать образование доступнее и интереснее!
	</p>
	<p>Кирилл Поляков <br> Создатель &laquo;Знающего&raquo;</p>
	<button (click)="viewPayments()" class="help-link-width help-link support">Поддержать проект</button>
	<a href="https://play.google.com/store/apps/details?id=pro.znau.known"
	   class="help-link-width help-link help-link-white">Оценить
		проект</a>
</div>

<div class="layout" (click)="closeLayout()"></div>
<div class="modal-message">
	<p>Поддержать</p>
	<button
			*ngFor="let product of products; let i = index"
			(click)="payment(product.productId, index)"
			class="help-link-mt0 help-link help-link-white">
		{{product.price}}
	</button>
	<button (click)="closeLayout()"
	        class="help-link-mt0 help-link-mb15 help-link help-link-white">
		Позже
	</button>
</div>
