<div class="menu-container">
    <div class="menu-top">
        <a (click)="onBack()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        <p>Меню</p>
        <!--<a href="javascript://"><i class="fa fa-info-circle" aria-hidden="true"></i></a>-->
    </div>
    <div class="menu-block">
        <div class="menu-items"><a [routerLink]="[ '/favorite' ]"><img src="assets/image/menu/favorite.png" alt=""><p>Избранное</p></a></div>
        <div class="menu-items"><a (click)="onOpenMessage()"><img src="assets/image/menu/feedback.png" alt=""><p>Написать нам</p></a></div>
	    <div class="menu-items"><a [routerLink]="[ '/support' ]"><img src="assets/image/menu/support.png" alt="">
		    <p>Поддержать</p></a></div>
        <div class="menu-items"><a [routerLink]="[ '/command' ]"><img src="assets/image/menu/command.png" alt=""><p>Команда</p></a></div>
        <div class="menu-items"><a [routerLink]="[ '/poll' ]"><img src="assets/image/menu/vote.png" alt=""><p>Голосование</p></a></div>
        <div class="menu-items"><a [routerLink]="[ '/help' ]"><img src="assets/image/menu/help.png" alt=""><p>Помощь</p></a></div>
	    <div
			    style="width: 100%"
			    class="menu-items"><a [routerLink]="[ '/private' ]">
		    <img
				    style="width: 30%"
				    src="assets/image/menu/privacy.png" alt="">
		    <p>Политика конфиденциальности</p></a></div>
    </div>
</div>
