.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Gotham Pro Bold';
    background-color: #333333;
}

.menu-container .menu-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
    color: #c2c2c2;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.3);
}

.menu-container .menu-top p {
    width: 60%;
    font-family: 'Gotham Pro Bold';
}

.menu-container .menu-top a {
    width: 20%;
    color: #c2c2c2;
}

.menu-container .menu-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding: 0 40px 0;
}

.menu-container .menu-block .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.menu-container .menu-block .menu-items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    text-decoration: none;
    color: #ffffff;
}

.menu-container .menu-block .menu-items img {
    width: 60%;
}

.menu-container .menu-block .menu-items p {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-family: 'Gotham Pro';
}
