<div class="sub-theme" *ngIf="loadPage">
	<div
			*ngFor="let item of subthemes;"
			class="sub-theme-item">
		<a (click)="getCardTheme(item.id, [ '/cards',item.id, 'theme', item.subjectId])">
			<app-subthemes-image [src]="item.bdImageName" [id]="item.id"></app-subthemes-image>
			<div class="substrate"></div>
			<div class="content">
				<div class="title">{{item.name}}</div>

				<div *ngFor="let progress of progressBars">
					<div *ngIf="progress.subThemeId == item.id">
						<div class="learning" *ngIf="progress.countCards == progress.countReadCards">
							Изучено
						</div>

						<div *ngIf="progress.countCards > progress.countReadCards">
							<div class="progress-bar">
								<div
										[ngStyle]="{'width':((progress.countReadCards / progress.countCards) * 100) + '%'}"
										class="progress"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="subtitle">{{item.subsubjectDescription}}</div>
			</div>
		</a>
	</div>

</div>
