.sub-theme {
	max-width: 690px;
	position: relative;
	margin: 0 auto;
	top: 190px;
}

.sub-theme img {
	max-width: 100%;
	border-radius: 15px;
}

.sub-theme-item {
	position: relative;
	margin: 30px;
}

.substrate {
	height: 100%;
	width: 100%;
	top: -5px;
	position: absolute;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
	border-radius: 10px;
}

.content {
	position: absolute;
	bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	width: calc(100% - 20px);
}

.title {
	color: #ffffff;
	font-family: "Gotham Pro Bold";
	font-size: 48px;
	margin-bottom: 5px;
}

.subtitle {
	opacity: 0.8;
	color: #ffffff;
	font-family: "Open Sans Regular";
	font-size: 28px;
	font-weight: 400;
}

.progress-bar {
	width: 100%;
	height: 6px;
	background: rgba(255, 255, 255, .3);
	position: relative;
	border-radius: 15px;
}

.progress {
	height: 100%;
	background-color: #28b83f;
	border-radius: 15px;
}

.learning {
	display: block;
	text-transform: uppercase;
	text-align: left;
	width: 120px;
	position: absolute;
	right: 0;
	top: -125px;
	background: rgba(0, 128, 0, .6);
	color: #fff;
	padding: 3px 0 3px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-left: 25px;
	font-weight: bold;
	box-sizing: border-box;
	font-family: 'Gotham Pro Bold';
}


@media (max-width: 500px) {
	.title {
		font-size: 23px;
	}

	.subtitle {
		font-size: 15px;
	}

	.sub-theme-item {
		position: relative;
		margin: 15px;
	}
}

@media (max-width: 359px) {
	.learning {
		top: -60px;
	}
}

