.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
}

.nav button, .nav .menu-button {
	background: none;
	border: none;
	outline: none;
	font-size: 24px;
	color: #333333;
}

.nav-title{
	text-align: center;
}

.nav-title img{
	max-width: 60%;
}
