<nav class="nav">
	<a class="menu-button" [routerLink]="[ '/menu']"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
	<div class="nav-title"><img src="assets/image/logo.png" alt=""></div>
	<div></div>
</nav>
