<div class="slick themes">
	<div *ngFor="let item of themes; let i = index" [attr.data-card]="item.id" class="slick-item" [attr.data-theme]="item.id">
		<div class="slick-title">{{item.name}}</div>
		<div class="slick-subtitle">{{item.subjectDescription}}</div>
		<hr>
		<p class="desc"
		   *ngIf="item.isActive > 0 && item.learning > 0"
		>
			<span>Изучено:</span>{{item.learning}} из {{item.openSubthemes}}
		</p>

		<p class="desc"
		   *ngIf="item.isActive == 0"
		>
			<span><img src="assets/image/setting.png" alt=""></span>Тема в разработке
		</p>
	</div>
</div>