.slick{
	font-family: 'Gotham Pro Bold';
	color: #242020;
}

.slick-item{
	padding: 20px 0 0 15px;
	background-color: #f1f1f1;
}

.slick-title {
	font-size: 36px;
	text-transform: uppercase;
}
.slick-subtitle{
	font-size: 25px;
	padding-bottom: 25px;
}


hr {
	width: 160px;
	height: 6px;
	background-color: #e8bc02;
	margin: 0 0 20px 0;
	border:none;
}

.desc{
	font-family: 'Open Sans Regular';
	color: #242020;
	font-size: 16px;
	letter-spacing: 0.56px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.themes .desc {
	display: none;
}

.themes .desc {
	display: flex;
}

@media (max-width: 500px) {
	.slick-title{
		font-size: 25px;
	}

	.slick-subtitle{
		font-size: 18px;
	}
}