<!--<button (click)="onClick()">Вперед</button>-->
<div *ngIf="loadPage">
	<div class="menu-container">
		<app-top></app-top>
		<app-themes></app-themes>
	</div>
	<app-subthemes></app-subthemes>
</div>

<div class="layout"
></div>

<div class="preloader">
	<mat-spinner></mat-spinner>
</div>

<div class="modal-message">
	<p>Тема в разработке</p>
</div>