.menu-container {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: #fff;
	width: 100%;
}

.layout {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, .8);
}

.preloader {
	display: none;
	position: fixed;
	z-index: 2;
	top: 30%;
	left: calc(50% - 50px);
}

.modal-message{
	display: none;
	opacity: 0;
	position: fixed;
	top: 30%;
	left: calc(50% - 125px);
	z-index: 2;
	background: #fff;
	width: 250px;
	text-align: center;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	font-family: 'Open Sans Regular';
	font-size: 20px;
}