<app-pemium (viewDescription)="setViewDescription($event)"></app-pemium>
<div *ngIf="viewDescription">
	<app-card-description-top [name]="name"></app-card-description-top>
	<div class="container">
		<div class="item"
		     *ngFor="let item of detail; let i = index">
			<app-card-description-text-in-box
					*ngIf="item.presentationType == 'TextInBox'"
					[content]="item.content"
			>
			</app-card-description-text-in-box>
			<app-card-description-text
					*ngIf="item.presentationType == 'Text'"
					[content]="item.content"
			></app-card-description-text>

			<app-card-description-header
					*ngIf="item.presentationType == 'Header'"
					[content]="item.content"
			></app-card-description-header>

			<app-card-description-image
					*ngIf="item.presentationType == 'ImageGallery' && item.contentItems.length"
					[content]="item.contentItems[0]"
					[id]="i"
			></app-card-description-image>
		</div>
	</div>
</div>
