.votes-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #2d60d4;
}

.votes-container .votes-top {
    display: flex;
    width: 100%;
    color: #ffffff;
    font-size: 18pt;
    font-weight: 600;
}

.votes-container .votes-top p {
    padding: 20px;
    width: 90%;
    font-family: 'Gotham Pro Bold';
}

.votes-container .votes-top a {
    padding: 20px 10px 20px 20px;
    width: 10%;
}

.votes-container .votes-top i {
    color: #ffffff;
}

.votes-items {
    width: 90%;
    height: 80vh;
    background-color: #ffffff;
}

.slick-initialized .slick-slide {
    background-color: transparent !important;
}

.votes-slick {
    position: relative;
    top: -1px;
}

.votes-item {
    border-radius: 5px;
    background-color: #fff;
    height: calc(100vh - 150px);
    display: flex !important;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

.votes-item img {
    display: block;
    max-width: 40%;
    margin: 0 auto;
}

.votes-item-title {
    font-family: 'Gotham Pro Bold';
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}

.votes-title-line {
    height: 4px;
    background-color: #2d60d4;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.votes-item-subtitle {
    font-family: "Open Sans Regular";
    font-size: 18px;
    text-align: center;
}

.votes-btn-container {
    margin-top: auto;
    text-align: center;
}

a.votes-btn,
a.votes-btn:active,
a.votes-btn:hover {
    font-family: 'Gotham Pro';
    background: none;
    padding: 10px 90px;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 20px;
    margin-bottom: 15px;
    outline: none;
    color: #000;
    text-decoration: inherit;
    display: inline-block;
}

.votes-item-list {
    margin-bottom: 15px;
}

.votes-item-list .votes-item-list-check {
    display: flex;
    align-items: center;
    font-size: 14pt;
    font-family: "Open Sans Regular";
    font-weight: 600;
    margin: 5px;
}

.votes-item-list .votes-item-list-check i {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30pt;
    width: 50px;
    color: #a5a5a5;
}

.votes-item-list .votes-item-list-check i.fa-check-square-o {
    color: #28b840;
}

.votes-item-list .votes-item-list-radio {
    display: flex;
    align-items: center;
    font-size: 14pt;
    font-family: "Open Sans Regular";
    margin: 5px;
}

.votes-item-list .votes-item-list-radio i {
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30pt;
    width: 50px;
    color: #a5a5a5;
}

.votes-item-list .votes-item-list-radio i.fa-check-circle-o {
    color: #28b840;
}

.vote-answer {
    border-color: #2d60d4 !important;
    color: #2d60d4 !important;
}

.votes-status-accept-good,
.votes-status-accept-bad,
.votes-status-accept-dontknow {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;
    width: 100%;
}

.votes-status-accept-good {
    background-color: #28b840;
    min-height: 100px;
}

.votes-status-accept-bad {
    background-color: #ea2b1f;
    min-height: 100px;
}

.votes-status-accept-dontknow {
    min-height: 100px;
    background-color: #a5a5a5;
}

.votes-status-accept-good i,
.votes-status-accept-bad i,
.votes-status-accept-dontknow i {
    font-size: 100px;
    color: #ffffff;
}

.votes-item-answer {
    display: none;
    font-size: 14pt;
    font-family: "Open Sans Regular";
    text-align: center;
    margin: 15px;
}
.answer-name{
    margin-left: 10px;
    width: 100%;
}

.container-top span {
    font-family: 'Gotham Pro Bold';
    text-align: center;
    font-size: 18px;
    display: inline-block;
    width: calc(100% - 20px);
}

.container-top p {
    font-family: "Open Sans Regular";
    font-weight: 400;
    padding-bottom: 20px;
}

.container-top li {
    font-family: "Open Sans Regular";
}

.container-top button {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
}

ul {
    margin-left: 15px;
}

.container-top {
    background-color: #e8bc02;
    padding: 15px 15px;
    display: flex;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.container {
    position: relative;
    top: 40px;
    margin-bottom: 30px;
    padding: 30px 15px 0;
}


.help-link {
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: #28b83f;
    color: #fff;
    font-size: 16px;
    width: 234px;
    margin: 30px auto 0;
    text-decoration: none;
    font-family: 'Gotham Pro Bold';
}

.container-premium {
    position: relative;
    z-index: 2;
    background-color: #fff;
    height: 100vh;
    display: none;
}
