<!--<app-pemium [votesId]="id" (viewDescription)="setViewDescription($event)"></app-pemium>-->
<div class="votes-container">
    <div class="votes-top">
        <p>Промежуточный тест</p>
        <a (click)="onBack()"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="votes-slick">

        <div class="votes-item" *ngFor="let item of tests; let i = index">
            <h1 class="votes-item-title">{{item.name}}</h1>
            <span class="votes-title-line"></span>
            <div class="votes-item-subtitle" *ngIf="item.typeAnswer == 'check'">Более одного правильного ответа</div>
            <div class="votes-status-accept-good">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </div>
            <div class="votes-status-accept-bad">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </div>
            <div class="votes-status-accept-dontknow">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </div>
            <div class="votes-item-list">
                <div *ngFor="let answer of item.answers"
                        [ngClass]="{
                        'votes-item-list-check': item.typeAnswer == 'check',
                        'votes-item-list-radio': item.typeAnswer == 'radio',
                        'is-right':answer.isRight
                        }">
                    <i [ngClass]="{
                        'fa-square-o': item.typeAnswer == 'check',
                        'fa-circle-o': item.typeAnswer == 'radio'
                        }" aria-hidden="true"

                    class="fa"></i>
                    <span class="answer-name">{{answer.name}}</span>
                </div>
            </div>
            <div class="votes-item-answer">
                {{item.answerDescription}}
            </div>
            <div class="votes-btn-container">
                <a class="votes-btn vote-dont-know" href="javascript://" [attr.data-slide]="i">{{btnText}}</a>
            </div>
        </div>

    </div>
</div>


<div class="container-premium" id="container-top">
    <div class="container-top">
        <button
                (click)="onBack()"
        ><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
        <span>Премиум доступ</span>
    </div>
    <div class="container">
        <p>Чтобы просматривать подробное описание и тесты, вам необходимо подключить премиум доступ.</p>
        <p>Вы получите:</p>
        <ul>
	        <li>Полный доступ ко всем карточкам правителей которые есть в Знающем и к тем, которые будут в ближайшее
                время
            </li>
            <li>Тестирование после каждого правителя</li>
            <li>Отсутствие рекламы</li>
        </ul>
	    <button (click)="payment('access3')" class="help-link">Купить</button>
    </div>
</div>

