<div class="help-container">
    <div class="help-top">
        <a (click)="onBack()">
            <i *ngIf="!viewLinkOnMain" class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <i *ngIf="viewLinkOnMain" class="fa fa-times" aria-hidden="true"></i>
        </a>
        <p>Помощь</p>
    </div>
    <div class="help-block">
        <div class="help-slick">
            <div class="help-item">
                <img src="assets/image/help/help_1.png" alt="">
                <div class="help-description">Знающий — это ТЕМЫ, внутри которых много интересного</div>
            </div>
            <div class="help-item">
                <img src="assets/image/help/help_2.png" alt="">
                <div class="help-description">В каждой теме есть определенное количество ЛИЧНОСТЕЙ</div>
            </div>
            <div class="help-item">
                <img src="assets/image/help/help_3.png" alt="">
                <div class="help-description">У каждой личности в теме есть от 5 до 33 ФАКТОВ</div>
            </div>
            <div class="help-item">
                <img src="assets/image/help/help_4.png" alt="">
                <div class="help-description">У фактов есть ПОДРОБНЕЕ с фото и расширенным описанием</div>
            </div>
            <div class="help-item">
                <img src="assets/image/help/help_5.png" alt="">
                <div class="help-description">Фотографии и другие материалы можно листать</div>
            </div>
            <div class="help-item">
                <img src="assets/image/help/help_6.png" alt="">
                <div class="help-description">Помощь пользователей помогает нам выпускать новые темы</div>
                <a *ngIf="viewLinkOnMain" class="help-link" routerLink="/main">НАЧАТЬ</a>
            </div>
        </div>
    </div>
</div>
