<div
		[ngClass]="{
		'card-gold':card.cardType == 'Fact',
		'card-orange':card.cardType == 'InThisTime',
		'card-blue':card.cardType == 'Results',
		'card-blue-border':card.cardType == 'OtherResults',
		'card-red':card.cardType == 'War',
		'card-red-border':card.cardType == 'OtherWar',
		'card-test':card.cardType=='Test',
		'card-green':card.cardType == 'Reforms',
		'card-green-border':card.cardType == 'OtherReforms'
		}"
		[attr.data-card]="card.id"
		class="card-item"
		id="card-item-{{card.id}}"
		(click)="onClick($event)"
>
	<a href="{{card.fullImagePath}}" *ngIf="card.fullImagePath" class="card-item-img"
	   [ngStyle]="{'background-image':'url('+card.fullImagePath+')'}">
		<div class="substrate"></div>
		<img
				[ngStyle]="{'display':'none'}"
				src="{{card.fullImagePath}}"
				alt="">
	</a>
	<button class="favorite"
	        (click)="addFavorite(card)"
	        [ngStyle]="{'color': '#ffffff'}"
	        *ngIf="card.cardType!='Test'"
	>
		<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
	</button>
	<h1 class="card-item-title">
		{{card.name}}
	</h1>
	<button class="favorite"
	        [ngStyle]="{
	        'color-black':card.cardType == 'Main',
	        'color-orange':card.cardType =='InThisTime'
	        }"
	        (click)="addFavorite(card)"
	        *ngIf="!card.fullImagePath && card.cardType!='Test'"
	>
		<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
	</button>
	<span
			*ngIf="(card.cardType != 'InThisTime') && (card.cardType != 'Results') && (card.cardType != 'OtherResults') && (card.cardType != 'War') && (card.cardType != 'Reforms') && (card.cardType != 'Fact')"
			class="title-line" [ngClass]="{
			'title-line-red':card.cardType == 'OtherWar',
			'title-line-test':card.cardType=='Test',
			'title-line-green':card.cardType == 'OtherReforms'
			}"></span>

	<img *ngIf="card.cardType == 'Results' && !card.fullImagePath" src="assets/image/result.png" alt="">

	<img *ngIf="card.cardType == 'War' && !card.fullImagePath" src="assets/image/wars.png" alt="">

	<img *ngIf="card.cardType == 'Reforms' && !card.fullImagePath" src="assets/image/flat.png" alt="">

	<div *ngFor="let y of stepResult">
	<span *ngIf="card.id === y.index"
	      class="result">{{y.value}}</span>
	</div>
	<p
			[ngClass]="{
			'p-color':(card.cardType == 'InThisTime') || (card.cardType == 'OtherResults') || (card.cardType == 'War') || (card.cardType == 'Reforms') || (card.cardType == 'Fact')
			}"
			[innerHTML]="card.text"></p>
	<div *ngIf="card.detail"
	     class="card-more-container">
		<a *ngIf="!isFavorite" class="card-more" [routerLink]="[ '/cards-description',card.id,'subjectId',card.subSubjectId]">Подробнее</a>
		<a *ngIf="isFavorite" class="card-more" [routerLink]="[ '/cards-description',card.id,'subjectId',card.subSubjectId, {favorite:1}]">Подробнее</a>
	</div>
	<div *ngIf="card.cardType == 'Test'"
	     class="card-more-container education">
		<a class="card-more " [routerLink]="[ '/votes',card.id ]">{{card.testButtonName}}</a>
	</div>
</div>
