p {
	font-family: "Open Sans Regular";
	font-weight: 400;
	text-align: center;
	padding: 30px 15px;
}

.card-item {
	margin: 15px;
	border-radius: 15px;
	background-color: #fff;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	position: relative;
	top: 50px;
	overflow-y: auto;
	overflow-x: hidden;
}

.card-item img {
	display: block;
	max-width: 40%;
	margin: 0 auto;
}

.card-gold {
	background-color: #e8bc02;

}

.card-orange {
	background-color: #e87f23;
	color: #fff;
}

.card-orange a.card-more[_ngcontent-c3],
.card-blue a.card-more[_ngcontent-c3] {
	border-color: #fff;
	color: #fff;
}

.card-blue {
	background-color: #309be1;
	color: #fff;
}

.card-blue-border {
	border: 3px solid #309be1;
}

.card-red {
	background-color: #ea2c20;
	color: #fff;
}

.card-red-border {
	border: 3px solid #ea2c20;
}

.card-test {
	background-color: #2d60d5;
	color: #fff;
}

.card-green {
	background-color: #28b83f;
	color: #fff;
}

.card-green-border {
	border: 3px solid #28b83f;
}

.substrate {
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
	border-radius: 10px;
	top: 0;
}

.card-item-img {
	height: 230px;
	min-height: 230px;
	max-height: 230px;
	background-position: 0;
	background-size: cover;
	position: relative;
	text-align: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.card-item-title {
	font-family: 'Gotham Pro Bold';
	font-size: 24px;
	text-align: center;
	padding: 20px 25px;
}

.title-line {
	min-height: 4px;
	background-color: #e8bc02;
	width: 50px;
	display: block;
	margin: 0 auto;
}

.title-line-test {
	background-color: #fff;
}

.title-line-red {
	background-color: #ea2c20;
}

.title-line-green {
	background-color: #28b83f;
}

.card-more-container {
	margin-top: auto;
	text-align: center;
}

.card-more-container.education a {
	color: #ffffff;
	border-color: #ffffff;
}

a.card-more,
a.card-more:active,
a.card-more:hover {
	font-family: 'Gotham Pro';
	background: none;
	padding: 10px 90px;
	font-size: 17px;
	border: 1px solid #000;
	border-radius: 20px;
	margin-bottom: 15px;
	outline: none;
	color: #000;
	text-decoration: inherit;
	display: inline-block;
}

.result {
	top: 100px;
	position: absolute;
	display: block;
	font-size: 110px;
	text-align: center;
	width: 100%;
	font-family: 'Intro';
	color: #242020;
	opacity: .1;
}

.p-color {
	padding-top: 0;
}

.favorite {
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 1;
	margin: 15px 15px 0 auto;
	font-size: 20px;
	background: none;
	border: none;
	outline: none;
	width: 20px;
}

.color-black {
	color: #000;
}

.color-orange {
	color: #fff
}

@media (max-width: 500px) {
	p {
		font-size: 17px;
	}
}
