<div class="poll-top">
    <a (click)="onBack()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
    <p>Голосование</p>
</div>
<div class="poll">
    <div
            *ngFor="let item of polls;"
            [ngClass]="{
                'poll-active':item.id == isPoll,
                'poll-complete':isPoll != 0
                }"
            class="poll-item" (click)="setPoll($event.target, item.id)">
        <a href="javascript://">
            <img src="{{item.imageName}}" alt="">
            <!--<div class="substrate"></div>-->
            <div class="content">
                <div class="title">{{item.title}}</div>
                <div class="subtitle">{{item.itemDescription}}</div>
            </div>
        </a>
    </div>

</div>

<div class="vote-button">Проголосовать</div>

