.poll-top {
    position: fixed;
    z-index: 101;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 18pt;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #24201f;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.3);
}

.poll-top p {
    width: 60%;
    font-family: "Gotham Pro Bold";
}

.poll-top a {
    width: 20%;
    color: #c2c2c2;
}

.poll {
    max-width: 690px;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    top: 70px;
}

.poll img {
    max-width: 100%;
}

.poll-item {
    position: relative;
    padding: 30px;
}

.poll-item.poll-active {
    background-color: #28b83f;
}

.poll-item.poll-complete {
    pointer-events: none;
}

.substrate {
    height: 100%;
    width: 100%;
    top: -5px;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    border-radius: 10px;
}

.content {
    position: absolute;
    bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.title {
    color: #ffffff;
    font-family: "Gotham Pro Bold";
    font-size: 48px;
    margin-bottom: 5px;
}

.subtitle {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans Regular";
    font-size: 28px;
    font-weight: 400;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background: rgba(255, 255, 255, .3);
    position: relative;
    border-radius: 15px;
}

.progress {
    height: 100%;
    background-color: #28b83f;
    border-radius: 15px;
}

.learning {
    display: block;
    text-transform: uppercase;
    text-align: left;
    width: 120px;
    position: absolute;
    right: 0;
    top: -125px;
    background: rgba(0, 128, 0, .6);
    color: #fff;
    padding: 3px 0 3px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 25px;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Open Sans Regular';
}

.vote-button {
    display: none;
    position: fixed;
    bottom: 15px;
    z-index: 1000;
    padding: 15px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.7);
    background-color: rgba(204,204,204,0.8);
    border-radius: 10px;
    width: 135px;
    left: 50%;
    margin-left: -75px;
}

.vote-button.vote-complete {
    display: block;
    color: rgba(0,0,0,0.4);
    pointer-events: none;
}

@media (max-width: 500px) {
    .title {
        font-size: 23px;
    }

    .subtitle {
        font-size: 15px;
    }

    .poll-item {
        position: relative;
        padding: 15px;
    }
}

