.container-progress-bar{
	background: #e5e5e5;
	box-sizing: border-box;
	height: 30px;
	padding: 15px 15px 0px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.progress-bar{
	width: 100%;
	height: 6px;
	background: #fff;
	border-radius: 15px;
}

.progress{
	height: 100%;
	background-color: #28b83f;
	border-radius: 15px;
}