span{
	font-family: 'Gotham Pro';
	text-align: center;
	font-size: 18px;
	display: inline-block;
	width: calc(100% - 20px);
}

button{
	background: none;
	border: none;
	outline: none;
	font-size: 20px;
}

.container-top{
	background-color: #e5e5e5;
	padding: 15px 15px;
	display: flex;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}
