<div class="container-top">
	<button
			(click)="onBack()"
	><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
	<span>{{name}}</span>
	<button>
		<img class="hide-cards"
				(click)="toggleCards()"
				[ngStyle]="{'max-width':'60%', 'vertical-align':'bottom'}"
				src="assets/image/hide-plits.png" alt="">
	</button>
</div>
