<div *ngIf="viewPremium && (themeId != '2')">
	<div class="container-top">
		<button
				(click)="closePremium()"
		><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
		<span>Премиум доступ</span>
	</div>
	<div class="container">
		<p>Чтобы просматривать подробное описание и тесты, вам необходимо подключить премиум доступ.</p>
		<p>Вы получите:</p>
		<ul>
			<li>Полный доступ ко всем карточкам правителей которые есть в Знающем и к тем, которые будут в ближайшее
				время
			</li>
			<li>Тестирование после каждого правителя</li>
			<li>Отсутствие рекламы</li>
		</ul>
		<button (click)="payment('access3')" class="help-link">Купить</button>
	</div>
</div>
