span {
	font-family: 'Gotham Pro Bold';
	text-align: center;
	font-size: 18px;
	display: inline-block;
	width: calc(100% - 20px);
}

p {
	font-family: "Open Sans Regular";
	font-weight: 400;
	padding-bottom: 20px;
}

li {
	font-family: "Open Sans Regular";
}

button {
	background: none;
	border: none;
	outline: none;
	font-size: 20px;
}

ul {
	margin-left: 15px;
}

.container-top {
	background-color: #e8bc02;
	padding: 15px 15px;
	display: flex;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}

.container {
	position: relative;
	top: 40px;
	margin-bottom: 30px;
	padding: 30px 15px 0;
}


.help-link {
	height: 45px;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 15px;
	background: #28b83f;
	color: #fff;
	font-size: 16px;
	width: 234px;
	margin: 30px auto 0;
	text-decoration: none;
	font-family: 'Gotham Pro Bold';
}
