/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body{
	max-width: 100%;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
@font-face {
	font-family: 'Gotham Pro Bold';
	src: url('assets/fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('assets/fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Regular';
	src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('assets/fonts/Intro.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

.slick-initialized .slick-slide{
	background-color: #f1f1f1;
	opacity: .6;
}

.slick-initialized .slick-active{
	opacity: 1;
}

.votes-container .slick-initialized .slick-slide, .help-container .slick-initialized .slick-slide,
.slick-slide img{
	display: inline-block;
	max-width: 65%;
	position: relative;
	top: 4px;
}

.themes .slick-slide > div {
	margin-left: 15px;
}

.themes .slick-slide.active > div {
	margin-left: 0;
}

.slick-lightbox-slick-img{
	max-width: 100% !important;
}

.votes-container .slick-initialized .slick-slide {
	background-color: transparent;
	box-sizing: border-box;
	padding: 0 15px;
}

.text-yellow{
	color: #e8bc02;
	font-weight: 700;
}

.card-gold .text-yellow {
	color: #fff;
}

.slick-lightbox .slick-initialized .slick-slide{
	background-color: #000000;
}

.votes-slick .slick-dots {
	bottom: -50px;
	pointer-events: none;
}

.help-slick .slick-dots {
	bottom: 72%;
}

.votes-slick .slick-dots li img:nth-child(1) {
	display: block;
}

.votes-slick .slick-dots li img:nth-child(2) {
	display: none;
}

.votes-slick .slick-dots li img:nth-child(3) {
	display: none;
}

.votes-slick .slick-dots li img:nth-child(4) {
	display: none;
}

.votes-slick .slick-dots li img:nth-child(5) {
	display: none;
	margin-top: 5px;
}

.help-slick .slick-dots li img:nth-child(1) {
	display: block;
}

.help-slick .slick-dots li img:nth-child(2) {
	display: none;
}

.votes-slick .slick-dots li.slick-active img:nth-child(1),
.help-slick .slick-dots li.slick-active img:nth-child(1),
.votes-slick .slick-dots li.slick-good img:nth-child(1),
.votes-slick .slick-dots li.slick-bad img:nth-child(1),
.votes-slick .slick-dots li.slick-dontknow img:nth-child(1) {
	display: none;
}

.votes-slick .slick-dots li.slick-active img:nth-child(2) {
	display: block;
}

.help-slick .slick-dots li.slick-active img:nth-child(2) {
	display: block;
}

.votes-slick .slick-dots li.slick-good img:nth-child(3) {
	display: block;
}

.votes-slick .slick-dots li.slick-bad img:nth-child(4) {
	display: block;
}

.votes-slick .slick-dots li.slick-dontknow img:nth-child(5) {
	display: block;
}

.help-block .slick-dotted.slick-slider {
	margin-bottom: 0 !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
	stroke: #fff;
}

app-favorite{
	height: 100vh;
	display: block;
	background: #e5e5e5;
}
