<div class="command-container">
    <div class="command-top">
        <a (click)="onBack()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        <p>Команда</p>
        <a href="#"><img src="assets/image/hand.png"/></a>
    </div>
    <div class="command-block">
        <div>
            <img src="assets/image/command/kiril.png" alt="Лейтенант Бокатуев" width="130" height="130" class="leftimg">
            <b>Кирилл Поляков, </b>
            <i>Создатель «Знающего», идейный вдохновитель и отличный руководит</i>
            «Это приложение не просто так бесплатное — мы пытаемся причинить непоправимое добро всем кто хочет получить
            знания в простой форме. Но мы молодые, амбициозные студенты и нам нужны средства на продолжение разработок,
            работа программистов и дизайнера очень дорого нам».
        </div><br><br>
        <div>
            <img src="assets/image/command/ivan.png" alt="Лейтенант Бокатуев" width="130" height="130" class="rightimg">
            <b>Иван Марасин, </b>
            <i>Дизайнер, автор всего, что вы здесь видите и еще увидите</i>
        </div><br>
        <div>
            <img src="assets/image/command/tatiana.png" alt="Лейтенант Бокатуев" width="130" height="130" class="rightimg">
            <b>Татьяна Смирнова, </b>
            <i>Контентрайтер, историк, фотомодель и просто хороший человек</i>
        </div>
    </div>
</div>
