.command-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Open Sans Regular";
    font-size: 14pt;
}

.command-container .command-top {
    position: fixed;
    z-index: 101;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
    color: #242020;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 40px 1px rgba(0,0,0,0.2);
}

.command-container .command-top p {
    width: 60%;
    font-family: 'Gotham Pro Bold';
}

.command-container .command-top a {
    width: 20%;
    color: #918f8f;
}

.command-container .command-top img {
    height: 30px;
}

.command-container .command-block {
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 25px 25px;
}

.command-container .command-block .leftimg {
    float:left;
    margin: 7px 7px 7px 0;
}

.command-container .command-block .rightimg  {
    float: right;
    margin: 7px 0 7px 7px;
}

.command-container .command-block b {
    display: block;
    font-family: 'Gotham Pro Bold';
    margin-bottom: 10px;
}

.command-container .command-block i {
    display: block;
    margin-bottom: 10px;
    font-family: "Open Sans Regular";
}
