.container-top span{
    font-family: "Open Sans Regular";
    text-align: center;
    font-size: 18px;
    display: inline-block;
    width: calc(100% - 20px);
}

.container-top button{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
}

.container-top{
    background-color: #e5e5e5;
    padding: 15px 15px;
    display: flex;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.layout {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.shared {
    display: none;
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.shared-link {
    font-family: 'Open Sans Regular';
    display: block;
    margin: 20px auto 0;
    background: #fff;
    max-width: 300px;
    padding: 8px 0px;
    border-radius: 15px;
}

p {
    font-family: "Open Sans Regular";
    font-weight: 400;
    text-align: center;
    padding: 30px 15px 0;
}

.card-item {
    margin: 15px;
    border-radius: 5px;
    background-color: #fff;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.card-item img {
    display: block;
    max-width: 40%;
    margin: 0 auto;
}

.card-gold {
    background-color: #e8bc02;

}

.card-orange {
    background-color: #e87f23;
    color: #fff;
}

.card-orange a.card-more[_ngcontent-c3],
.card-blue a.card-more[_ngcontent-c3] {
    border-color: #fff;
    color: #fff;
}

.card-blue {
    background-color: #309be1;
    color: #fff;
}

.card-blue-border {
    border: 3px solid #309be1;
}

.card-red {
    background-color: #ea2c20;
    color: #fff;
}

.card-red-border {
    border: 3px solid #ea2c20;
}

.card-test {
    background-color: #2d60d5;
    color: #fff;
}

.card-green {
    background-color: #28b83f;
    color: #fff;
}

.card-green-border {
    border: 3px solid #28b83f;
}

.substrate {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    border-radius: 10px;
    top: 0;
}

.card-item-img {
    height: 230px;
    background-position: center;
    background-size: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    text-align: right;
}

.card-item-title {
    font-family: 'Gotham Pro Bold';
    font-size: 24px;
    text-align: center;
    padding: 20px 25px;
}

.title-line {
    height: 4px;
    background-color: #e8bc02;
    width: 50px;
    display: block;
    margin: 0 auto;
}

.title-line-test {
    background-color: #fff;
}

.title-line-red {
    background-color: #ea2c20;
}

.title-line-green {
    background-color: #28b83f;
}

.card-more-container {
    margin-top: auto;
    text-align: center;
}

.card-more-container.education a {
    color: #ffffff;
    border-color: #ffffff;
}

a.card-more,
a.card-more:active,
a.card-more:hover {
    font-family: "Open Sans Regular";
    background: none;
    padding: 10px 90px;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 20px;
    margin-bottom: 15px;
    outline: none;
    color: #000;
    text-decoration: inherit;
    display: inline-block;
}

.result {
    top: 100px;
    position: absolute;
    display: block;
    font-size: 110px;
    text-align: center;
    width: 100%;
    font-family: 'Intro';
    color: #242020;
    opacity: .1;
}

.p-color {
    padding-top: 0;
}

.favorite {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 1;
    margin: 15px 15px 0 auto;
    font-size: 15px;
    background: none;
    border: none;
    outline: none;
}

.favorite-slick {
    background-color: #e5e5e5;
}

.favorite-container {
    height: 100vh;
}


.cards-list {
    display: none;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #e5e5e5;
    padding: 0 12px 35px;
    position: relative;
    top: 50px;
}

app-card-list {
    display: inline-flex;
    width: 31%;
    padding-left: 10px;
}

app-card {
    height: 100vh;
}

app-card-list:nth-child(3n + 1) {
    padding-left: 0;
}


@media (max-width: 500px) {
    p {
        font-size: 17px;
    }
}
