<app-cards-top></app-cards-top>

<div class="favorite-slick">
	<app-card
			[ngStyle]="{'height':'100vh'}"
			*ngFor="let item of favorite;"
			[card]="item.card"
			(favorite)="setFavorite($event)"
			(imageDescription)="setImageDescription($event)"
			[isFavorite]="true"
	></app-card>
</div>

<div class="cards-list" [ngStyle]="{
			'position':'relative',
			'top':'80px'
			}">
	<app-card-list
			*ngFor="let item of favorite;"
			[card]="item.card"
			(cardId)="moveToCardId($event)"
	></app-card-list>
</div>

<div
		class="layout"
		(click)="closeLayout()"
></div>

<div class="shared">
	<a
			class="shared-link"
			(click)="removeFavorite()"
	>Удалить из избранного</a>

	<a onclick="window.plugins.socialsharing.shareWithOptions({
                    message: 'Рекомендую установить мобильное приложение Мои тренировки. Данное приложение поможет Вам оставаться в отличной форме круглый год!'
                });"
	   class="shared-link">Поделиться</a>

	<a
			(click)="closeLayout()"
			class="shared-link"
	>Отмена</a>
</div>
