/*div{
	font-family: "Open Sans Regular";
	padding: 20px;
}*/


.help-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-family: "Open Sans Regular";
	font-size: 14pt;
}

.help-container .help-top {
	position: fixed;
	z-index: 101;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 70px;
	font-size: 12pt;
	text-transform: uppercase;
	text-align: center;
	color: #242020;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.2);
}

.help-container .help-top p {
	width: 60%;
	font-family: 'Gotham Pro Bold';
}

.help-container .help-top a {
	width: 20%;
	color: #918f8f;
}

.help-container .help-block {
	position: relative;
	top: 90px;
	height: 100%;
}

.slick-initialized .slick-slide {
	background-color: transparent !important;
}

.help-slick {
	position: relative;
	bottom: 0;
}

.help-items {
	width: 90%;
	height: 80vh;
	background-color: #ffffff;
}

.help-item {
	border-radius: 5px;
	background-color: #fff;
	height: calc(100vh - 90px);
	display: flex !important;
	flex-direction: column-reverse;
	align-items: center;
	position: relative;
}

.help-description {
	font-family: 'Open Sans Regular';
	position: relative;
	top: -60px;
	width: 100%;
	text-align: center;
	font-size: 15pt;
}

.help-item img {
	height: 70%;
}


.help-link {
	position: absolute;
	bottom: 45px;
	height: 45px;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 15px;
	background: #28b83f;
	color: #fff;
	font-size: 16px;
	width: 234px;
	margin: 0 auto;
	text-decoration: none;
	font-family: 'Gotham Pro Bold';
}
