<div class="help-container">
	<div class="help-top">
		<a style="font-size: 20pt;" (click)="onBack()">
			<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
		</a>
		<p>Политика конфиденциальности</p>
	</div>
</div>

<div style="font-family: 'Open Sans Regular';padding: 95px 20px 0;"><strong>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</strong>
	<br><br> Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику
	Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими
	правилами соблюдения конфиденциальности и сообщите нам, если у вас возникнут какие-либо вопросы. <br><br> <strong>Сбор
		и использование персональной информации</strong> <br><br> Под персональной информацией понимаются данные,
	которые могут быть использованы для идентификации определенного лица либо связи с ним. <br><br> От вас может быть
	запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами. <br><br> Ниже
	приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать
	такую информацию. <br><br> <strong>Какую персональную информацию мы собираем</strong> <br><br> Когда вы работаете с
	приложением, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и
	т.д. <br><br> <strong>Как мы используем вашу персональную информацию</strong> <br><br> Собираемая нами персональная
	информация позволяет нам связываться с вами и сообщать об уникальных предложениях, акциях и других мероприятиях и
	ближайших событиях. <br><br> Время от времени, мы можем использовать вашу персональную информацию для отправки
	важных уведомлений и сообщений. <br><br> Мы также можем использовать персональную информацию для внутренних целей,
	таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг предоставляемых нами и
	предоставления Вам рекомендаций относительно наших услуг. <br><br> Если вы принимаете участие в розыгрыше призов,
	конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую вами информацию для управления
	такими программами. <br><br> <strong>Раскрытие информации третьим лицам</strong> <br><br> Мы не раскрываем
	полученную от Вас информацию третьим лицам. <br><br> Исключения <br><br> В случае если необходимо — в соответствии с
	законом, судебным порядком, в судебном разбирательстве, и/или на основании публичных запросов или запросов от
	государственных органов на территории РФ — раскрыть вашу персональную информацию. Мы также можем раскрывать
	информацию о вас если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания
	правопорядка, или иных общественно важных случаях. <br><br> В случае реорганизации, слияния или продажи мы можем
	передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику. <br><br> <strong>Защита
		персональной информации</strong> <br><br> Мы предпринимаем меры предосторожности — включая административные,
	технические и физические — для защиты вашей персональной информации от утраты, кражи, и недобросовестного
	использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения. <br><br> <strong>Соблюдение
		вашей конфиденциальности на уровне компании</strong> <br><br> Для того чтобы убедиться, что ваша персональная
	информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших
	сотрудников, и строго следим за исполнением мер соблюдения конфиденциальности.<br></div>
